body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #030303;
}

header {
    background-color: #f00606cc;
    color: rgb(245, 245, 9);
    padding: 1em;
    text-align: left;
    font-family: monospace;
    outline-color: #030303;
}

section {
    padding: 2em;
    text-align: center;
}

h1 {
    font-family:sans-serif;
    color: #f1c708;
}
h2{
    color: #f80404;    
}
h3{
    color: #f80404;
}
p {
    color: #fcf9f9;
    font-size: 1.2em;
    line-height: 1.6em;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}
.cta-button{
    display: inline;
    font-size: 20px 20p;
    text-decoration: none;
    background-color: #0888f1;
    color: #030303;
    border-radius: 6px;
}